<head>
<style>
 img {
  width:80%;
  height:80%;
 }
 .sub-button{
  border-radius:8%;
 }
 .sub{
  background-color:black;
  color:floralwhite;
 }
 .sub:hover{
  color: grey;
 }
 .card-img-container {
  position: relative;
}

.card-img-fallback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  text-align: center;
  display: none;
}

.card-img-top {
  display: block;
}

.card-img-top:empty + .card-img-fallback {
  display: block;
}

</style>
</head>
<div class="container mt-5">
  <% @companies.each_slice(4) do |company_slice| %>
    <div class="row">
      <% company_slice.each do |company| %>
        <div class="col-md-3 mb-4"> <!-- Each company card takes up 3 columns on medium-sized screens and above -->
          <div class="card">
            <%= link_to company_path(company) do %>
              <%= image_tag get_company_url(company.name), alt: "#{company.name.upcase} Logo", class: "card-img-top" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
