 <div class="flickr_pagination">
    <%= will_paginate @experiences, :container => false %>
   </div>
<%= render 'shared/experiences'%>
<div class="flickr_pagination">
    <%= will_paginate @experiences, :container => false %>
   </div>