<head>
    <style>
        .all-companies{
            width:600px;
        }
        .holder{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<div class="holder">
<div class="all-companies">
<%= render 'shared/companies'%>
</div>
</div>
